<p>
This is a site to download various things Joey Hess has produced.
</p>

<p>
Currently, it has:
<p>
<ul>
	<li><a href="git-annex">git-annex pre-built images</a></li>
	<li><a href="videos">videos</a></li>
	<li><a href="talks">talks</a></li>
</ul>

<h2>git repository</h2>

<p>
This site is stored in a git repository.
<tt>git clone https://downloads.kitenet.net/.git/</tt>
</p>

<p>
The large files are stored using git-annex. Once you've cloned the
repository, you can run "git annex get" to download any or all of them.
</p>

<p>
Past versions of files are stored 
<a href="https://archive.org/details/git-annex-builds">on Archive.org</a>.
git-annex can also be used to download those old versions, just check out
the version of the tree you want and use "git annex get".
</p>

<h2>Verification</h2>

<p>
This site is available via https to help ensure the files you've
downloaded are the ones I intended you to download.
</p>

<p>
I make signed commits to the git repository. So you can use `git log`
(with a recent version of git) to verify the files that "git annex get"
downloads. Files are also accompanied by a detached gpg signature in 
".sig" file. The gpg key used for this repository is currently
5EE1DBA789C809CB, the "git-annex distribution signing key (for Joey Hess)".
</p>

<p>
Many files are accompanied by detached gpg signatures, using the same gpg
key.
</p>
